<div class="container-fluid" *ngIf="elevators$ | async as elevators">
  <form class="form-inline justify-content-center mt-5" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="input-group col-6">
      <input type="number" class="form-control" placeholder="Floor number" formControlName="floorNumber">
      <div class="input-group-append">
        <button type="submit" class="btn btn-outline-dark" [disabled]="form.invalid">Request elevator</button>
      </div>
    </div>
  </form>
  <div class="row justify-content-around">
    <elev-elevator *ngFor="let elevator of elevators" [elevator]="elevator"></elev-elevator>
  </div>
</div>